body {
    background-color: #181818;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    line-height: 1.5;
}

body.loaded {
    opacity: 1;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

h3 {
    font-size: 	1.5rem;
    font-weight: 600;
}

p {
    margin: 0px;
    font-size: 1.125rem;
}


nav li {
    list-style-type: none;
    font-size: 1.125rem;
}

nav li:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: all 0.3s ease; 
}

br {
    display: inline;
}

/* NAVIGATION BAR */

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.logo-holder img {
    width: 300px;
    height: auto; 
}

#navButtons ul a {
    color: white;
    text-decoration: none;
    list-style: none;
}

#navButtons ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

.off-screen-nav {
    display: none;
}


/*Title Section*/ 

.title-section {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100vh;
    border-bottom: 1px solid #fff;
    margin: 1.5rem;
}

.post-title h1 {
    color: #FFD700;
}

.post-photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 24px;
    width: 100%;
}

.post-photo img {
    max-width: 100%;
    width: 800px;
}

/* POST 1 */

#section-width-height {
    height: 150vh;
    margin: 1.5rem;
    border-bottom: 1px solid white;
}

.post-1-section-1 h2 {
    color: #FFD700;
    width: 50%;
}

.post-1-section-1 p {
    color: #fff;
    padding-top: 1.5rem;
}

.post-1-section-2 h2 {
    color: #FFD700;
    width: 50%;
    margin: 0;
}

.section2-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.section2-left h3 {
    color: #FFD700;
}

.section2-left p {
    color: #fff;
    padding-right: 3rem;
}


.section2-right h3 {
    color: #FFD700;
    text-align: right;
}

.section2-right p {
    color: #fff;
    text-align: right;
    padding-left: 3rem;
}

.post-1-section-3 h3 { 
    color: #FFD700;
    margin: 0px;
}

.post-1-section-3 p {
    color: #fff;
    margin-bottom: 48px;
    margin-top: 24px
}


.post-1-section-4 {
    height: 150vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post1-section4-first-left{
    width: 75%;
}

.post1-section4-first-left h3 {
    color: #FFD700;
    margin: 0px;
}

.post1-section4-first-leftpara{
    color: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
}

.post1-section4-first-lefthighlight {
    color: #FFD700;
}

.post1-section4-second-right {
    align-self: flex-end;
    text-align: right;
    width: 75%;
}

.post1-section4-first-rightpara{
    color: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
}

.post1-section4-first-righthighlight {
    color: #FFD700;
    margin-bottom: 36px;
}

.post-1-section-5 {
    align-items: center;
    text-align: center;
}

.post-1-section-5 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-5 p {
    color: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
}

.highlighted-phrase-post-1 {
    color: #FFD700;
}

.post-1-section-6 {
    display: flex;
    justify-content: space-between;
}

.post1-section6-left h3 {
    color: #FFD700;
    margin: 0px;
}

.post1-section6-left p{
    color: #fff;
    margin-top: 24px;
    width: 85%;
}

.post1-section6-right {
    width: 100%;
}

.post1-section6-right p {
    color: #FFD700;
    text-align: right;
    margin-top: 50px;
}

.post-1-section-7 h3 { 
    color: #FFD700;
    margin: 0px;
}

.post-1-section-7 p {
    color: #fff;
    margin-bottom: 48px;
    margin-top: 24px;
}

.section7-first {
    width: 50%;
}

.section7-second {
    width: 50%;
}

.post-1-section-8 {
    display: flex;
    justify-content: space-between;
}

.post-1-section-8 h2 {
    color: #FFD700;
    margin: 0;
}

.post1-section8-second {
    width: 85%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20rem;
}

.post1-section8-second h3 {
    color: #FFD700;
}

.post1-section8-second p {
    color: #fff;
}

.post-1-section-9 {
    display: flex;
    justify-content: space-between;
}

.post1-section9-first-left {
    width: 100%;
}

.post1-section9-first-left h3 {
    color: #FFD700;
    margin: 0;
}

.post1-section9-first-left p {
    color: white;
    margin-top: 24px;
    padding-right: 48px;
}

.post1-section9-first-left .post1-section9-first-lefthighlight {
    color: #FFD700;
}

.post1-section9-first-right {
    text-align: right;
    width: 100%;
}

.post1-section9-first-right h3 {
    color: #FFD700;
    margin: 0;
}


.post1-section9-first-right p {
    color: white;
    margin-top: 24px;
    padding-left: 48px;

}

.post1-section9-first-right .post1-section9-first-righthighlight {
    color: #FFD700;
}

.post-1-section-10 {
    align-items: center;
    text-align: center;
}

.post-1-section-10 h3{
    color: #FFD700;
    margin: 0;
}

.post-1-section-10 .post-1-section-10-highlight {
    color: #FFD700;
    margin-top: 36px;
}

.post-1-section-10 p {
    color: white;
    margin-top: 24px;
}

.post-1-section-11 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post-1-section-11 h3 {
    color: #FFD700;
    margin: 0; 
}

.post-1-section-11 p {
    color: white;
    margin-top: 24px;
}

.post1-section11-first-left {
    width: 100%;
    margin-right: 48px;
}

.post1-section11-second-right {
    align-self: flex-end;
    text-align: right;
    margin-bottom: 24px;
    width: 100%;
    margin-left: 48px;
}

.post-1-section-12 h2 {
    color: #FFD700;
    margin: 0;
    width: 50%;
}

.post-1-section-12 h3 {
    color: #FFD700;
    margin: 0; 
}

.post-1-section-12 p{
    color: white;
    margin-bottom: 24px;
    margin-top: 24px;
}

.post1-section12-title {
    margin-bottom: 48px;
}

.post1-section12-first {
    width: 50%;
}

.post1-section12-second {
    width: 75%;
}

.post1-section12-third {
    width: 100%;
}

.post-1-section-13 h3 {
    color: #FFD700;
    margin: 0; 
}

.post-1-section-13 p {
    color: white;
    margin-top: 24px;
}

.post1-section13-row-group {
    display: flex;
    justify-content: space-between;
}

.post1-section13-first-left {
    width: 100%;
}

.post1-section13-second-right {
    text-align: right;
    padding-bottom: 100px;
    padding-top: 18.75rem;
    width: 100%;
}

.post1-section13-second-lowerleft {
    width: 50%;
}

.post-1-section-14 {
    display: flex;
    justify-content: space-between;
}


.post1-section14-left h3 {
    color: #FFD700;
    margin: 0px;
}

.post1-section14-left p{
    color: #fff;
    margin-top: 24px;
}

.post1-section14-right p {
    color: #FFD700;
    text-align: right;
    padding-top: 3.375rem;
}


.post1-section15 h3 {
    color: #FFD700;
    margin: 0px;
}

.post1-section15 p {
    color: #fff;
    padding-top: 1.5rem;
}

.post-1-section-16 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-16 p {
    color: #fff;
    padding-top: 1.5rem;
}

.post1-section16-list p {
    color: #FFD700;
}

.post1-section16-list ul {
    color: #fff;
    width: 50%;
}

.post1-section16-list li {
    padding-top: 1.5rem;
}

.post1-section16-list span {
    color: #FFD700;
}

.post-1-section-17 {
    display: flex;
    justify-content: space-between;
}

.post-1-section-17 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-17 p {
    color: #fff;
    margin-top: 24px;
}

.post1-section17-left {
    padding-right: 5rem;
}

.post1-section17-right span {
    color: #FFD700;
}

.post1-section17-right { 
    padding-top: 1.5rem;
    width: 50%;
    text-align: right;
}

.post-1-section-18 h3 {
    color: #FFD700;
    margin: 0px; 
}

.post-1-section-18 p {
    color: #fff;
    margin-top: 24px;
}

.post1-section18-flex {
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
}

.post1-section18-right {
    text-align: right;
    width: 40%;
}

.post1-section18-left {
    width: 40%;
}

.post-1-section-19 h3 {
    color: #FFD700;
    margin: 0px; 
}

.post-1-section-19 p {
    color: #fff;
    margin-top: 24px; 
    text-align: center;
}

.post1-section19 .italicized {
    text-align: center;
    font-style: italic;
    color: #FFD700;
}

.post-1-section-20 {
    display: flex;
    justify-content: space-between;
}


.post1-section20-left h3 {
    color: #FFD700;
    margin: 0px;
}

.post1-section20-left p{
    color: #fff;
    margin-top: 24px;
    padding-right: 48px;
}

.post1-section20-right p {
    color: #FFD700;
    text-align: right;
    padding-top: 3.5rem;
}

.post-1-section-21 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-21 p{
    color: #fff;
    margin-top: 24px;
    width: 50%;
}

.post-1-section-21 .bolded-phrase-section21 {
    color: #FFD700;
}

.post-1-section-22 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-22 p{
    color: #fff;
    margin-top: 24px;
}

.post-1-section-22 .bolded-phrase-section22 {
    color: #FFD700;
    text-align: center;
    font-style: italic;
}

.post-1-section-23 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-23 p{
    color: #fff;
    margin-top: 24px;
}

.post-1-section-23 .bolded-phrase-section23 {
    color: #FFD700;
    text-align: center;
    font-style: italic;
}

.post-1-section-24 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-24 p{
    color: #fff;
    margin-top: 24px;
}

.post-1-section-24 .bolded-phrase-section24 {
    color: #FFD700;
    text-align: center;
    font-style: italic;
}

.post-1-section-25 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-25 p{
    color: #fff;
    margin-top: 24px;
    width: 50%;
    text-align: right;
    justify-self: end;
}

.post-1-section-25 .bolded-phrase-section25 {
    color: #FFD700;
}

.post-1-section-26 {
    height: 250vh;
    margin: 24px;
    border-bottom: 1px solid white;
}

.post-1-section-26 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-26 p{
    color: #fff;
    margin-top: 24px;
}

.post-1-section-26 span {
    color: #FFD700;
}

.post1-section26-bolded-separate {
    padding-top: 12px;
}

.post-1-section-27 {
    height: 250vh;
    margin: 24px;
    border-bottom: 1px solid white;
}

.post-1-section-27 h3 {
    color: #FFD700;
    margin: 0px;
}

.post-1-section-27 p {
    color: #fff;
    margin-top: 24px;
}

.list-title span {
    color: #FFD700;
}

.list-title {
    padding-top: 24px;
}

.post-1-section-27 ul {
    color: #fff;
}

.post-1-section-27 li {
    margin-top: 24px;
}

.post-1-section-27 ul span {
    color: #FFD700;
}

.ending-post {
    font-size: 2rem;
    color: #FFD700;
    font-weight: bold; 
    margin-top: 36px;
}


/* Post 2 */

.title-section-2 {
    display: flex;
    margin: 1.5rem;    
    justify-content: space-between;
    max-width: 100%;
    height: 100vh;
    border-bottom: 2px solid #fff;
}

.title-section-2 h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #FFD700;
}

.title-section-2 h3 {
    font-size: 	1.5rem;
    font-weight: 600;
    color: #fff;
}

.post-title-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.post-photo-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 24px;
    width: 30%;
}

.post-photo-2 img {
    max-width: auto;
    max-height: auto;
    width: 100%;
}

.post-2-section-1 {
    display: flex;
    justify-content: space-between;
}

.post2-left {
    color: #FFD700;
    width: 20rem;
}

.post2-right {
    color: #fff;
    text-align: right;
    width: 60%;
}

.post-2-section-2 {
    text-align: center;
}

.post-2-section-2 p {
    color: #fff;
    margin: 1.5rem;
}

.post-2-section-2-colored-text {
    color: #FFD700;
    margin-top: 1.5rem;
    margin: 0px;
    font-size: 1.125rem;
}

.post-2-section-3 {
    text-align: right;
    width: 50%;
    margin-left: auto;
}

.post-2-section-3 p {
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.post-2-section-3-colored-text {
    color: #FFD700;
    margin-top: 1.5rem;
    margin: 0px;
    font-size: 1.125rem;
}

#section-width-height-section-4 {
    height: 200vh;
    margin: 1.5rem;
    border-bottom: 1px solid white;
}

.post-2-section-4 h2 {
    color: #FFD700;
}

.post-2-section-4 h3 {
    color: #FFD700;
}

.post2-section4-flex {
    display: flex;
    justify-content: space-between;
}

.post2-section4-left {
    width: 40%;
}

.post2-section4-left ul {
    color: #fff;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5rem;
}

.post2-section4-left li {
    list-style-type: none;
}

.post2-section4-right {
    width: 50%;
    text-align: right;
}

.post2-section4-right {
    margin-top: 1.5rem;
}

.post2-section4-right p {
    color: #fff;
    margin-bottom: 1.5rem;
}

.post2-section4-right span {
    color: #FFD700;
}


/*Post 3*/

.post-3-section-1 {
    display: flex;
    justify-content: space-between;
}

.post3-left {
    color: #fff;
    width: 60%;
}

.post3-right {
    color: #FFD700;
    text-align: right;
    width: 20rem;
}

.post-3-section-2 {
    width: 50%;
}

.post-3-section-2 p {
    color: #fff;
}

.post-3-section-2 .post3-section2-yellow {
    color: #FFD700;
    margin-top: 1.5rem;
}

.post-3-section-3 {
    width: 50%;
}

.post-3-section-3 p {
    color: #fff;
    padding-bottom: 1.5rem;
}

.post-3-section-3 span {
    color: #FFD700;
}

.post-3-section-5 p {
    color: #fff;
    padding-bottom: 1.5rem;
}

.post-3-section-5 .post3-section5-yellow {
    color: #FFD700;
}



@media (max-width: 767px) {

    h1 {
        font-size: 2rem;
        font-weight: 800;
      }
      
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
      }
      
      h3 {
        font-size: 1.25rem;
        font-weight: 600;
      }
      
      p {
        font-size: 1rem;
        font-weight: 400;
      }
      
      small {
        font-size: 0.875rem;
      }


      nav {
        margin: 0.75rem;
      }

    .logo-holder img {
        width: 200px; 
      }
    /*Hamburger Nav Buttons*/

    #navButtons {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .menu-burger img {
        width: 32px;
        height: auto;
    }

    .menu-burger img.active {
        opacity: 0;
    }

    .off-screen-nav { 
        background-color: #181818;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        transition: .3s ease;
    }

    .off-screen-nav.active {
        right: 12px;
    }

    .off-screen-nav li {
        margin: 36px;
    }

    .off-screen-nav a {
        text-decoration: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .off-screen-nav .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }


    /* Title Section */


        .title-section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0.75rem;
        }


        .post-title {
            text-align: center;
        }

    /*Post Sections*/


    #section-width-height {
        margin: 0.75rem;
    }

    .post-1-section-26 {
        margin: 0.75rem;
    }

    .post-1-section-27 {
        margin: 0.75rem;
    }

    .section2-flex {
        flex-direction: column;
    }

    .section2-right {
        padding-top: 2rem;
    }

    .section2-flex .section2-right p {
        padding: 0;
    }

    .post-1-section-8 {
        flex-direction: column;
    }

    .post1-section8-second {
        width: auto;
        padding-top: 8rem;
    }

    .post1-section13-second-right {
        padding-bottom: 0;
    }

    .post1-section13-second-lowerleft {
        width: 75%;
    }

    /* Post 2 */

    .title-section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0.75rem;
        justify-content: flex-start;
    }

    .title-section-2 h1 {
        font-size: 2rem;
        font-weight: 800;
    }

    .title-section-2 h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .title-section-2 .post-title-2 {
        width: auto;
    }

    .post-title-2 {
        margin-top: 4rem;
    }

    .post-photo-2 {
        width: 18.75rem;       
        height: 28.125rem;        ;      
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }
    
    .post-photo-2 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    .post-2-section-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }   

    .post2-left {
        width: auto;
    }

    .post2-right {
        width: auto;
    }

    .post-2-section-3 {
        width: 75%;
    }

    #section-width-height-section-4 {
        margin: 0.75rem;
        border: none;
        height: auto;
        padding-bottom: 10rem;
        border-bottom: 1px solid white;
    }

    .post2-section4-flex {
        flex-direction: column;
        align-items: center;
    }

    .post2-section4-left {
        width: 100%;
    }

   .post2-section4-right  {
    width: 100%;
    text-align: right;
   }

   /*Post 3*/

   .post-3-section-3 {
    width: 100%;
   }
}


@media (max-width: 414px) {

    
    
    /*Hamburger Nav Buttons*/

    #navButtons {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .menu-burger img {
        width: 32px;
        height: auto;
    }

    .menu-burger img.active {
        opacity: 0;
    }

    .off-screen-nav { 
        background-color: #181818;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        transition: .3s ease;
    }

    .off-screen-nav.active {
        right: 12px;
    }

    .off-screen-nav li {
        margin: 36px;
    }

    .off-screen-nav a {
        text-decoration: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .off-screen-nav .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .title-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .about-title {
        text-align: center;
    }




        /* Title Section */
        .title-section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    
    
        .post-title {
            text-align: center;
        }
    
        /*Post Sections*/

        #section-width-height {
            margin: 0.75rem;
        }
    
        .post-1-section-26 {
            margin: 0.75rem;
        }
    
        .post-1-section-27 {
            margin: 0.75rem;
        }
        
        
        .section2-left p {
            padding-right: 16px;
        }
        


        .post-1-section-8  {
            flex-direction: column;
        }

        .post1-section13-second-right {
            padding-top: 19rem;
            padding-bottom: 0;
        }

        .post1-section13-second-lowerleft{
            margin-bottom: 3rem;
        }   

        .post1-section14-left p{
            padding-right: 2rem;
        }
        
        .post1-section14-right p {
            padding-top: 2.9rem;
        }

        .post-1-section-17 {
            flex-direction: column;
        }

        .post1-section17-left {
            padding-right: 0;
        }

        .post1-section17-right {
            width: auto;
        }
    
        .post1-section20-right p {
            padding-top: 3.1rem;
        }

        /* Post-2 */

        .post-2-section-1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }   

        .post2-left {
            width: auto;
        }
    
        .post2-right {
            width: auto;
        }

        /*Post 3*/

        .post-3-section-1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }   

        .post3-left {
            width: auto;
        }
    
        .post3-right {
            width: auto;
        }

}